.football-players-details{
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;
    background: rgba(0,0,0,0.8);
    border: 1px solid black;
    border-radius: 10px;
}
/*Para todos los subtitulos*/
h2{  
    color: white;
    
}
.content-subtitle{
    background: rgba(20, 97, 212, 0.384);
    text-transform: uppercase;    
    text-align: center;
}


.detail{
    display: flex;
    margin-top: 40px;
}

.detail-box1{
    width: 50%;
  
 

}
.detail-box1 img{
    width: 200px;
    height: 250px;
    display: block;
    margin: 0 auto;    
}
.detail-box2{
    width: 50%;
    padding-left: 50px;
    background: rgba(0, 153, 200, 0.2);
}
.detail-box2 h3{
    color: white;
    letter-spacing: 2px;
}