.news{/*seccion de noticias */
    border: 1px solid black;
    margin-top: 80px;
    color: white;
    margin-top: 150px;
}
.new-peru{/*seccion de cada noticia individualmente*/
    border: 1px solid black;
    background: rgba(245, 0, 0, 0.2);
}
.title-new h3{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.theme-new{
    display: flex;
}
.theme-new img{
    margin: 10px;
    width: 85%;
}
.theme-new h4{
    margin: 20px;
}