


@media screen and (max-width: 900px) {
	.football-players{
		margin-top: 200px;
	}
	
	header img{
		display: block;
	}
	#barramenu{
		position: absolute;/*Para que el header quede vacio, la barra del menu sale del header*/
		background: rgb(204, 30, 30);
		width: 60%;/*ancho del menu*/
		margin-left: -70%;/*Desaparece el menu*/
		transition: all 0.4s;
	}
	#barramenu ul{
		flex-direction: column;/*Pone al menu en columna*/
	}
	#barramenu li{
		border-top: 1px solid white;/*Borde superior de cada li del menu*/
	}
	#btn_Menu:checked ~ #barramenu{
		margin: 0;
	}

	.football-players .imaginary{
		display: none
	}
	#titulo{
		font-size: 20px;
	}
}
/* ------------------Fin de Menu responsive----------------------------------------- */

/*----------------- Menu responsive de 780px-------------------*/
@media screen and (max-width: 780px) {
	.football-players{
		margin-top: 200px;
	}
	header img{
		display: block;
	}

	#b2 > #titulo
	{
		font-size: 18px;
	} 

	#barramenu{
		position: absolute;/*Para que el header quede vacio, la barra del menu sale del header*/
		background: rgb(204, 30, 30);
		width: 60%;/*ancho del menu*/
		margin-left: -70%;/*Desaparece el menu*/
		transition: all 0.4s;
	}
	#barramenu ul{
		flex-direction: column;/*Pone al menu en columna*/
		background: green;
	}
	#barramenu li{
		border-top: 1px solid white;/*Borde superior de cada li del menu*/
	}
	#btn_Menu:checked ~ #barramenu{
		margin: 0;
	}
	#barramenu:hover{
		transition: all 0.4s;
	}
	#titulo{
		font-size: 15px;
	}
	.detail-box
	{
		display: block;
	}

}
/* ----------------------------------------------------------------------------- */

@media screen and (max-width: 480px)
{
	.detail
	{
		display: block;
	}
	.detail-box1
	{
		width: 100%;
		margin-bottom: 10px;
	}

	.detail-box2
	{
		display: flex;
		justify-content: center;
		margin:auto;

	}
	.detail-box2 h3
	{
		font-size: 16px;
	}
	.match
	{
		width: 90%;
	}
	.container-footer
	{
		display: block;
	}
	.developer-name
	{
		display: flex;
		justify-content: center;
	}
	.contact-developer
	{
		padding: 10px 0;
		display: flex;
		justify-content: center;
	}

}

/*Colaboración de: @andrescondo*/