.section-videos{
    display: block;
    border: 1px solid black;
    margin: 40px 0;
}
.videos-youtube{
    display: block;
    align-items: inherit;
    width: 100%;
    
}
.match{
    border: 2px solid red;
    display: block;
    margin-top: 40px;  
    margin: 40px auto;
}
