@charset "utf-8";

#encabezado1{
	/*background: -webkit-linear-gradient(left,red,orange,red); degradado lineal de izquierda a derecha*/
	background: -webkit-radial-gradient(center,ellipse,orange,red);
	width: 320px;
	border-radius: 20px;
	margin: 15px auto;
	box-shadow: gray 4px 3px;
	border: solid black;

}

#titulo{
	color: white;
	text-shadow: black 2px 2px;
	text-align: center;
}

header img{
	width: 30px;
	height: 30px;
	padding: 10px;	
	border-right: 1px solid skyblue;
	display: none;
}

header img:hover{
	cursor: pointer; /*Cambia el cursor clasico a una manito*/
	background: rgba(140, 125, 0, 0.5);
}

#encabezado2{
	background: #4e94ab;
	width: 100%;
}

#btn_Menu{
	display: none;/*Oculta el cuadrito de checkbox del proyecto*/
}

#barramenu ul{
	margin: 0;
	list-style: none;
	padding: 0;/*No deja espacio vacio*/
	display: flex;/*Lo pone en una linea horizontal*/
}

header label{
	display: block;
}

body{
	margin: 0;
	/*font-family: sans-serif;*/
}

figure img{
   float: left; 
   width: 220px; 
   padding: 15px;/*Espaciado entre fotos*/
}

figure img:hover{
	transform: scale(1.1);
}

#barramenu li a{
	border-right: 1px skyblue solid;
	display: block;
	padding: 15px 20px;
	text-decoration: none;
	color: white;
}

#barramenu li a:hover{/*Eventos que se hara al pasar el mouse por los items del menu*/
	background: rgba(0,0,0,0.3);
}


#pie{
	clear: both;
}

@media (max-width:1524px){
	header img{
		display: block;
	}

	#barramenu{
		position: absolute;/*Para que el header quede vacio, la barra del menu sale del header*/
		background: #4e94ab;
		width: 60%;/*ancho del menu*/
		margin-left: -70%;/*Desaparece el menu*/
	}

	#barramenu ul{
		flex-direction: column;/*Pone al menu en columna*/
	}

	#barramenu li{
		border-top: 1px solid white;/*Borde superior de cada li del menu*/
	}

	#btn_Menu:checked ~ #barramenu{
		margin: 0;
	}
}