@charset "utf-8";

#encabezado1{
	background: -webkit-radial-gradient(center,ellipse,orange,red);
	width: 320px;
	border-radius: 20px;
	margin: 15px auto;
	box-shadow: gray 4px 3px;
	border: solid black;

}

#titulo{
	color: white;
	text-shadow: black 2px 2px;
	text-align: center;
}

header img{
	width: 30px;
	height: 30px;
	padding: 10px;	
	border-right: 1px solid skyblue;
	display: none;
}

header img:hover{
	cursor: pointer; /*Cambia el cursor clasico a una manito*/
	background: rgba(140, 125, 0, 0.5);
}

#encabezado2{
	background: rgb(204, 30, 30);
	width: 100%;
}

#btn_Menu{
	display: none;/*Oculta el cuadrito de checkbox del proyecto*/
}

#barramenu ul{
	margin: 0;
	list-style: none;
	padding: 0;/*No deja espacio vacio*/
	display: flex;/*Lo pone en una linea horizontal*/
}

header label{
	display: block;
}

body{
	margin: 0;
	/*font-family: sans-serif;*/
}

.football-players{
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	margin-top: 60px;
	justify-content: space-evenly;
	border: 1px solid red;
	
}

.football-players img{   
   width: 250px; 
   height: 350px; 
   flex-shrink: 0; 
   margin-left: 15px;
   margin-right: 15px;
   margin-top: 20px;
}

.football-players .imaginary{
	opacity: 0;
}



.football-players img:hover{
	transform: scale(1.02);
} 

#barramenu li a{
	border-right: 1px skyblue solid;
	display: block;
	padding: 15px 20px;
	text-decoration: none;
	color: white;
}

#barramenu li a:hover{/*Eventos que se hara al pasar el mouse por los items del menu*/
	background: rgba(0,0,0,0.3);
}

#pie{
	clear: both;
}

/*----------------- Menu responsive cuando es igual o menor de 780px-------------------*/
@media (max-width:780px){
	.football-players{
		margin-top: 200px;
	}
	header img{
		display: block;
	}
	#barramenu{
		position: absolute;/*Para que el header quede vacio, la barra del menu sale del header*/
		background: rgb(204, 30, 30);
		width: 60%;/*ancho del menu*/
		margin-left: -70%;/*Desaparece el menu*/
		transition: all 0.4s;

	}
	#barramenu ul{
		flex-direction: column;/*Pone al menu en columna*/
	}
	#barramenu li{
		border-top: 1px solid white;/*Borde superior de cada li del menu*/
	}
	#btn_Menu:checked ~ #barramenu{
		margin: 0;
	}
	#barramenu:hover{
		transition: all 0.4s;
	}
}
/* ------------------Fin de Menu responsive----------------------------------------- */

/*----------------- Menu responsive cuando es igual o menor de 1045px-------------------*/
@media (max-width:1045px){
	.football-players{
		margin-top: 200px;
	}
	
	header img{
		display: block;
	}
	#barramenu{
		position: absolute;/*Para que el header quede vacio, la barra del menu sale del header*/
		background: rgb(204, 30, 30);
		width: 60%;/*ancho del menu*/
		margin-left: -70%;/*Desaparece el menu*/
		transition: all 0.4s;
	}
	#barramenu ul{
		flex-direction: column;/*Pone al menu en columna*/
	}
	#barramenu li{
		border-top: 1px solid white;/*Borde superior de cada li del menu*/
	}
	#btn_Menu:checked ~ #barramenu{
		margin: 0;
	}

	.football-players .imaginary{
		display: none
	}
	
}
/* ------------------Fin de Menu responsive----------------------------------------- */